# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# App Secret
SECRET=""
APP_SECRET=""

# Database
DATABASE_URL="postgresql://postgres:123456@localhost:5432/my_saas?schema=public"

# GitHub App Client ID and Secret for OAuth
GITHUB_ID=""
GITHUB_SECRET=""